<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Practica13_ED/src/pract13/lista_con_elementos_comunes/RealizaMedidasDejaComunes.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="pract13.lista_con_elementos_comunes.RealizaMedidasDejaComunes"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Practica13_ED"/>
</launchConfiguration>
